body{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


.fixedPage{
	font-family: "Helvetica", "Sans-Serif";
	background: #D8D8D8;
	background-image: url("../imagens/fundo.jpg");
	background-repeat: no-repeat center center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
 	-o-background-size: 100% 100%;
 	background-size: 100% 100%;

	content = " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cape{
	background-color: rgba(10,23,55,0.3);
	background-repeat: no-repeat center center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
 	-o-background-size: 100% 100%;
 	background-size: 100% 100%;
	content = " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


header,main,footer{
  height: 33%;
}


.navigation{

  line-height: 40px;
  font-size: 25px;
  height: 75px;
  background-color: rgba(10,23,55,0.9);
}

nav{
  margin-left: 0px;
  margin-right: 0px;
}
a:hover{
  text-decoration: none;
}

li{
  margin-left: 20px;
}

.name{
  font-size: 70px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}


footer{
  line-height: 400px;

}

#users, #drivers{
  border-radius: 30px;
}

#users:hover{
	border-color: #0A0A2A;
	color: #0A0A2A;

}

#drivers:hover{
	background-color: #0A0A2A;
	color:#FFF;
}

#enter:hover{
	border-color: #0A0A2A;
	color: #0A0A2A;
}

a#changeHoverText:hover{
	color: #00FFFF !important;
}


.fixedPageLogin{
	font-family: "Helvetica", "Sans-Serif";
	background-color: #D8D8D8;
	background-image: url("../imagens/fundo10.jpg");
  background-position: absolute;
	background-repeat: no-repeat center center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
 	-o-background-size: 100% 100%;
 	background-size: 100% 100%;
	content = " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.boxForm{
	width: 25%;
	height: 60%;
	margin: auto;
  padding: 30px 15px;
	margin-top: 20px;
	margin-bottom: 10%;
	border: 1px solid #FFF;
  background-color: rgb(0,0,0,0.8);
  border-radius: 15px;

}

#blockUser{
  background-color: rgba(255, 0, 0, 0.0);
  color: #FFF;
}


#passwordUser{
  background-color: rgba(255, 0, 0, 0.0);
  color: #FFF;
}

#changeForm{
  font-size: 20px;
}


#changeButton:hover{
  background-color: #FFF;
	color: #0A0A2A !important;
  border-color: #0A0A2A;
}

a#forgetPass:hover, a#comeBack:hover{
  text-decoration: underline;
  color: #FFF !important;
}


.fixedPageUser, .fixedPageDriver{
	font-family: "Helvetica", "Sans-Serif";
	background-color: #D8D8D8;
	background-image: url("../imagens/fundo11.jpg");
  background-position: absolute;
	background-repeat: no-repeat center center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
 	-o-background-size: 100% 100%;
 	background-size: 100% 100%;
	content = " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.boxFormUser{
	width: 30%;
	height: 100%;
	margin: auto;
  padding: 40px 10px;
	border: 1px solid #FFF;
  background-color: rgb(0,0,0,0.5);
  border-radius: 15px;
}

.boxFormDriver{
  width: 60%;
	height: 100%;
	margin: auto;
  padding: 10px 10px;
	border: 1px solid #FFF;
  background-color: rgb(0,0,0,0.5);
  border-radius: 15px;
}

#changeInputUser input{
  height: 30px;
}

#changeInputUser form{
  width: 100%;
}

#changeInputDriver input{
  height: 25px;
}

#changeInputDriver form{
  width: 100%;
}

.changeBTN{
  width: 60%;
}
.changeBTN-User{
  margin: auto;
  width: 75%;
}
.changeBTN-Driver{
  width: 50%;
}
.changeBTN-Location{
  width: 40%;
}

#styleMenuDrop a:hover{
  background-color: gray;
}
#nameLogin{
  margin-top: 30px;
}

.leftSide, .rightSide{
  display: inline-flex;
  width: 48%;
  height: 55%;
}

#dropButton a:hover{
  background-color: gray;
  font-color:white;
}

#local1{
  width:48%;
  display: inline-flex;

}

#local1 input{
  height: 25px;
  font-size-adjust: auto;
}

#local1 form{
  width: 100%;
}
#local2{
  width:48%;

}

#local2 input{
  height: 25px;
  font-size-adjust: auto;
}

#local2 form{
  width: 100%;
}

.fixedInsideSystem{
  font-family: "Helvetica", "Sans-Serif";
  background-color: #C1CDCD;
  background-repeat: no-repeat center center;
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  content = " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.changeBTN-Car{
  width: 40%;
}

#map{
  width:100%;
  height: 575px;
}

.fixedInsideSystem nav{
  display: inline-flex;
}

#leftSideMenu{
  border: 1px solid #FFF;
}

#leftSideMenu:hover{
  border-color: #0A0A2A;
  color: #0A0A2A !important;
}

#navbarSupportedContent1{
  font-family: "Helvetica", "Sans-Serif";
  height: 582px;
  width: 350px;
  background-color: #D8D8D8;
  background-position: absolute;
  background-repeat: no-repeat center center;
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  content = " ";
  position: absolute;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
}

#navbarSupportedContent2{
  background-color: rgba(10,23,55,0.9);
  font-family: "Helvetica", "Sans-Serif";
  height: 582px;
  width: 350px;
  background-position: absolute;
  background-repeat: no-repeat center center;
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;

  content = " ";
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.photo img{
  width:100%;
  height: 150px;
  border-radius: 80px;
  margin-top: 20px;
}
.photo, .nameAndRanking{
  width: 46%;
  margin: 5px;
  height: 150px;
  font-size: 20px;

}

.nameStatus{
  display: block;
  border-bottom: 1px solid white;
  width: 100%;
  height: 30%;
  text-align: center;
  margin-top: 15px;
  padding: 0px;
}

.changeBTN-LocationRequest{
  width: 60%;
}
/*PAGINA DE PAGAMENTO */
.boxCheckPayment{
  width: 30%;
  margin: auto;
  padding: 40px 10px;
  border: 1px solid #FFF;
  background-color: rgb(0,0,0,0.5);
  border-radius: 15px;
}

#requestRunning{
  background-color: rgba(10,23,55,0.9);
  width:500px;
  height: 500px;
  position: absolute;
}
